<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        body {
            background-color: #121212;
            color: #e0e0e0;
            font-family: Arial, sans-serif;
        }
        header, .content {
            margin: 20px;
            padding: 20px;
            background-color: #1e1e1e;
            border-radius: 8px;
        }
        a, button {
            color: #ffffff;
            background-color: #3b3b3b;
            padding: 8px 12px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
        }
        input, select, p {
            margin: 5px 0;
            padding: 8px;
            border: 1px solid #555;
            background-color: #2b2b2b;
            color: #e0e0e0;
            border-radius: 5px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #555;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #3b3b3b;
        }
        tr:hover {
            background-color: #2e2e2e;
            cursor: pointer;
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .form-inline {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .form-inline input {
            width: 150px;
        }
    </style>
</head>
<body>
<header>
    <a href="/users/all">Назад</a>
    <form method="GET" id="search">
        <input placeholder="Поиск по имени" name="firstname"/>
        <button>Поиск</button>
    </form>
</header>
<div class="body">
    <div class="content">
        <header>
            <h2>Список пользователей</h2>
            <input type="checkbox" id="selectAll"/> Выбрать всех
            <button id="delete">Удалить</button>
        </header>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Роль</th>
                <th>Используемый логин</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user: ${pagination_users}">
                <tr th:data-id="${user.id}" th:data-firstname="${user.getFirstName()}"
                    th:data-surname="${user.getSurName()}" th:data-lastname="${user.getLastName()}"
                    th:data-role="${user.getRoles().getTitle()}" th:data-profile="${user.getProfile().getUsername()}"
                    th:data-order-list="${doing}">
                    <td><input type="checkbox" class="selectRow"/></td>
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getSurName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getRoles().getTitle()}"></td>
                    <td th:text="${user.getProfile().getUsername()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <!--        <div class="pagination">-->
        <!--            <th:block th:if="${pagination_users.getCurrentPage() > 1}">-->
        <!--                <a th:href="@{/users?(page=${pagination_users.getCurrentPage() - 1})}"><</a>-->
        <!--            </th:block>-->
        <!--            <p th:text="|${pagination_users.getCurrentPage()}|"></p>-->
        <!--            <th:block th:if="${pagination_users.getCurrentPage() < pagination_users.getTotalNumberPages()}">-->
        <!--                <a th:href="@{/users?(page=${pagination_users.getCurrentPage() + 1})}">></a>-->
        <!--            </th:block>-->
        <!--        </div>-->
    </div>
    <div class="content">
        <header>
            <h2>Создание пользователя</h2>
        </header>
        <form class="createUser form-inline" method="POST" action="/users/add" id="userForm" th:object="${user}">
            <input placeholder="Имя" id="firstname" th:field="*{firstName}" required>
            <input placeholder="Фамилия" id="surname" th:field="*{surName}" required>
            <input placeholder="Отчество" required th:field="*{lastName}">
            <label for="category">Роль</label>
            <select class="form-control" id="category" name="roles.id" required>
                <option th:each="role : ${roles}" th:value="${role.getId()}"
                        th:text="${role.getTitle()}"></option>
            </select>
            <label for="profile">Логин</label>
            <select class="form-control" id="profile" name="profile.id" required>
                <option th:each="profile : ${profiles}" th:value="${profile.getId()}"
                        th:text="${profile.getUsername()}"></option>
            </select>
            <button type="submit" formmethod="post">Создать</button>
        </form>
    </div>

    <div class="content">
        <header>
            <h2>Обновление пользователя</h2>
        </header>
        <form class="updateUser form-inline" method="POST" action="/users/update" id="updateUserForm"
              th:object="${user}">
            <input type="hidden" name="id" id="updateUserId" th:field="*{id}">
            <input placeholder="Имя" id="updateFirstname" th:field="*{firstName}" required>
            <input placeholder="Фамилия" id="updateSurname" th:field="*{surName}" required>
            <input placeholder="Отчество" required th:field="*{lastName}" id="updateLastname">
            <label for="updateRole">Роль</label>
            <select class="form-control" id="updateRole" name="roles.id" required>
                <option th:each="role : ${roles}" th:value="${role.getId()}"
                        th:text="${role.getTitle()}"></option>
            </select>
            <label for="updateProfile">Логин</label>
            <select class="form-control" id="updateProfile" name="profile.id" required>
                <option th:each="profile : ${profiles}" th:value="${profile.getId()}"
                        th:text="${profile.getUsername()}"></option>
            </select>
            <button type="submit" formmethod="post">Обновить</button>
        </form>

    </div>
    <div class="content" th:if="${user_orders_list != null}">
        <header>
            <h2 th:text="@{'Список заказа пользователя ' + ${user_name}}"></h2>
            <input type="checkbox" id="selectAllOrders"/> Выбрать всех
            <button id="deleteOrder">Удалить</button>
        </header>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Название заказа</th>
                <th>Цена заказа</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${user_orders_list}" th:data-id="${order.getId()}"
                th:data-title="${order.getTitle()}"
                th:data-price="${order.getPrice()}">
                <td><input type="checkbox" class="selectRow"/></td>
                <td th:text="${order.getId()}"></td>
                <td th:text="${order.getTitle()}"></td>
                <td th:text="${order.getPrice()}"></td>
            </tr>
            </tbody>
        </table>
        <header>
            <h2>Добавление заказа пользователю</h2>
        </header>
        <form class="createUser form-inline" method="POST" id="orderForm"
              th:action="@{'/users/all/' + ${user_id} + '/add_order'}">
            <label for="category">Заказ</label>
            <select class="form-control" id="order_id" name="order_id" required>
                <option th:each="order : ${ordersList}" th:value="${order.getId()}"
                        th:text="${order.getTitle()}"></option>
            </select>
            <label for="profile">Роль</label>
            <select class="form-control" id="user_id" name="user_id" required style="pointer-events: none">
                <option th:each="users : ${pagination_users}" th:value="${users.getId()}"
                        th:text="${users.getFirstName()}"></option>
            </select>
            <button type="submit" formmethod="post">Создать</button>
        </form>
    </div>

</div>

<script>
    function selectElement(id, data) {
    let select = document.getElementById(id);
    for (let i = 0; i < select.options.length; i++) {
        if (select.options[i].text === data) {
            select.value = select.options[i].value;
            break; // Найдено, прерываем цикл
        }
    }
}

// Выбор всех строк
document.querySelector('#selectAll').addEventListener('change', function() {
    document.querySelectorAll('.selectRow').forEach(checkbox => checkbox.checked = this.checked);
});

// Клик по строке таблицы
document.querySelectorAll('tbody tr').forEach(row => {
    row.addEventListener('click', function(event) {
        console.log(this)
        console.log(this.getAttribute('data-order-list'));
        // Проверка, чтобы избежать перенаправления при нажатии на чекбокс
        if (event.target.classList.contains('selectRow')) {
            return;
        }
        const userId = this.getAttribute('data-id');
        console.log(userId)
        if (this.getAttribute('data-order-list') == 'false') {
            const url = `/users/all/${userId}`;

            // Перенаправление на страницу пользователя
            window.location.href = url;

        } else {
                   // Заполнение полей формы для обновления
            document.getElementById('updateUserId').value = this.getAttribute('data-id');
            document.getElementById('updateFirstname').value = this.getAttribute('data-firstname');
            document.getElementById('updateSurname').value = this.getAttribute('data-surname');
            document.getElementById('updateLastname').value = this.getAttribute('data-lastname');

            selectElement('updateRole', this.getAttribute('data-role'));
            selectElement('updateProfile', this.getAttribute('data-profile'));
            selectElement('user_id', this.getAttribute('data-firstname'));
        }
    });
});

// Удаление пользователей
document.getElementById('delete').addEventListener('click', function() {
    const selectedIds = Array.from(document.querySelectorAll('.selectRow:checked'))
        .map(checkbox => checkbox.closest('tr').getAttribute('data-id'));

    if (selectedIds.length === 0) {
        alert('Выберите хотя бы одного пользователя для удаления.');
        return;
    }

    fetch('/users/delete', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(selectedIds)
    })
    .then(response => {
        if (!response.ok) {
            return response.json().then(error => {
                throw new Error(error.message || 'Не удалось удалить пользователей');
            });
        }
        alert('Пользователи успешно удалены!');
        window.location.reload();
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert(`Ошибка: ${error.message || 'Произошла ошибка при удалении пользователей.'}`);
    });
});

</script>

</body>
</html>
